* {
    box-sizing: border-box;
}

.container{
	border: 2px solid black;
	padding: 5%;
	margin-left: 35%;
	margin-right: 35%;
	background-color: #DDDDDD;
	margin-top: 2%;
	margin-bottom: 2%;
	
}
 body{
	 
	 background-color:#AAAAAA
 }

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25{
	float: left;
	width: 25%;
    margin-top: 6px;
}
.col-75{
	float: left;
	width: 75%;
    margin-top: 6px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
	padding: 1%;
}


.center{
	text-align: center;
	margin: 2%;
}

input[type=text],input[type=number],input[type=tel],input[type=email]{
    width: 100%;
    padding: 5%;
    border: 2px solid black;
    border-radius: 5%;
    resize: vertical;
}
input[type=submit]{
	 border: 2px solid black;
	 background-color: black;
	 padding: 5%;
	 border-radius: 5%;
	 color: white;
	 margin-top: 5%
	 
}
/* Mobile first css */
/*
@media screen and (max-width: 1024px) {
	.col-25,.col-75,input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
	.center,.label{
		font-size: 2vw;
	}
	.container{
	border: 2px solid black;
	padding: 5%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #DDDDDD;
	margin-top: 2%;
	margin-bottom: 2%;
	}

}*/

@media screen and (max-width: 1024px){
  form {
    margin: 0 0 5px 0;
    width: 100%;
  }
  form > label,
  legend {
	  width: 100%;
    float: none;
  }
  /*
  label {
    width: 100%;
    text-align: center;
  }*/
 
  form > fieldset {
    width: 100%;
    float: none;
  }
  input[type=tel],
  input[type=text],
  input[type=email] {
    width: 100%; 
  }
  .col-25,.col-75,input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
	.center,.label{
		font-size: 3vw;
	}
	.container{
	border: 2px solid black;
	padding: 5%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #DDDDDD;
	margin-top: 2%;
	margin-bottom: 2%;
	}
}

@media screen and (max-width: 960px) {
  form > label,
	legend {
  	text-align: center;
    width: 100%;
  }
}